<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ novels_name }} - 章节</title>
    <!-- CSS only -->
    <link href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css" rel="stylesheet">
    <link href="{{url_for('static',filename='css/chapter.css')}}" rel="stylesheet">
</head>
<body>
<div class="layui-container">
  <div class="layui-row">
    <blockquote class="layui-elem-quote">
        <p style="text-align: center">
            <strong>注意！</strong>页面内容来自<a target="_blank" href="{{url}}">{{url}}</a>，本站不储存任何内容，为了更好的阅读体验进行在线解析，若有广告出现，请及时反馈。若您觉得侵犯了您的利益，请通知我们进行删除，然后访问
            <a href="{{url}}">原网页</a>
        </p>
    </blockquote>
    <div class="layui-card">
          <div class="layui-card-header"></div>
          <div class="layui-card-body container all-chapter">
                <input id="content_url" type="hidden" value="{{content_url}}">
                <input id="url" type="hidden" value="{{url}}">
                <input id="novels_name" type="hidden" value="{{novels_name}}">
                {{ soup|safe }}
          </div>
    </div>
  </div>
</div>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="static/js/chapter.js"></script>
</body>
</html>